{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="section-content padding-y" style="min-height:84vh">

    {% if form.errors %}
        <div class="mx-auto container">
            <div class="alert alert-danger">
                <strong class="mb-3 d-block">Veuillez corriger les erreurs suivantes :</strong>
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if request.GET.command == 'verification' %}
        <div class="container">
            <div class="alert alert-info text-center">
                Merci de vous êtes inscrit sur notre plateforme, nous vous avons envoyé un e-mail à l'adresse: <strong>{{ request.GET.email }}</strong> afin que vous vérifiez votre compte
            </div>
        </div>
    {% else %}
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
            {% include 'includes/messages.html' %}
          <h4 class="card-title my-4">Se connecter</h4>
          <form method="post" action="{% url 'accounts:login' %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.GET.next }}">
              <div class="form-group">
                  <label>E-mail</label>
                  {{ form.username }}
              </div>
              <div class="form-group">
                  <label>Mot de passe</label>
                  {{ form.password}}
              </div>
              <div class="form-group">
                <a href="{% url 'accounts:forgot_password' %}" class="float-right">Mot de passe oublié ?</a>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Connexion</button>
                  <button type="reset" class="btn btn-secondary">Annuler</button>
              </div>
          </form>
          </div>
        </div>
         <p class="text-center mt-4">Vous n'avez pas de compte ? <a href="{% url 'accounts:register' %}">Inscrivez-vous</a></p>
         <br><br>
    {% endif %}
    </section>
{% endblock %}