{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
    <div class="container" style="padding: 50px;background: #f1f1f1;margin: 50px auto;">
        <div class="row invoice row-printable">
            <div class="col-md-12">
                <div class="panel panel-default plain" id="dash_0">
                    <div class="panel-body p30">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="invoice-logo"><img src="{% static '/images/logo.png' %}" alt="Invoice logo" style="max-height: 50px;"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="invoice-from">
                                    <ul class="list-unstyled text-right">
                                        <li><strong>Facturé à</strong></li>
                                        <li>{{ order.first_name|capfirst }} {{ order.last_name|capfirst }}</li>
                                        <li>{{ order.country }}</li>
                                        <li>{{ order.city }}, {{ order.address }}</li>
                                        <li>{{ order.quartier }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="invoice-details mt25">
                                    <div class="well">
                                        <ul class="list-unstyled mb0">
                                            <li><strong>Commande:</strong> #{{order.order_number}}</li>
                                            <li><strong>Transaction:</strong> #{{ order.payment.payment_id }}</li>
                                            <li><strong>Date:</strong> {{ order.created_at|date:'d/m/Y à H:i:s' }}</li>
                                            <li><strong>Status:</strong> {{ order.status }}</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="invoice-items">
                                    <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="per70 text-center">Produits</th>
                                                    <th class="per5 text-center">Qté</th>
                                                    <th class="per25 text-center">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order_product in order_products %}
                                                    <tr>
                                                        <td>
                                                            <h6>{{ order_product.product.name }}</h6>
                                                            <ul>
                                                                {% for variation in order_product.variation.all %}
                                                                    <li><strong>{{ variation.category | capfirst }}</strong>: {{ variation.value |capfirst }}<br></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                        <td class="text-center">{{ order_product.quantity }}</td>
                                                        <td class="text-center">(unité) ${{ order_product.product_price|intcomma}} USD</td>
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="2" class="text-right">Sous total:</th>
                                                    <th class="text-center">${{ sub_total | intcomma }} USD</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2" class="text-right">Tax:</th>
                                                    <th class="text-center">${{ tax | intcomma }} USD</th>
                                                </tr>

                                                <tr>
                                                    <th colspan="2" class="text-right">Grand Total:</th>
                                                    <th class="text-center">${{ total | intcomma }} USD</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="invoice-footer mt25">
                                    <p class="text-center">Merci et félicitations pour votre achat !!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}