{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}
{% load humanize %}

{% block content %}
<section class=" padding-y bg">
    <div class="container">
        {% include 'includes/messages.html' %}
        <div class="row">
            <aside class="col-lg-6 col-sm-8 mb-4">
                <div class="card">
                    <div class="card-body">
                    <h4 class="card-title">Paiement</h4>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-lg-6 col-sm-12">
                                <label>Nom</label>
                                <input type="text" placeholder="Entrez votre nom" class="form-control">
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12">
                                <label>Prénom</label>
                                <input type="text" placeholder="Entrez votre prénom" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-lg-6 col-sm-12">
                                <label>E-mail</label>
                                <input type="text" placeholder="Entrez votre e-mail" class="form-control">
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12">
                                <label>Numéro de téléphone</label>
                                <input type="text" placeholder="Entrez votre numéro de téléphone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Adresse</label>
                            <input type="text" placeholder="Entrez votre adresse" class="form-control">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Pays</label>
                                <select class="form-control">
                                    <option disabled selected>Sélectionnez</option>
                                    <option value="Burkina Faso">Burkina Faso</option>
                                    <option value="Maroc">Maroc</option>
                                    <option value="France">France</option>
                                    <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Ville</label>
                                <select class="form-control">
                                    <option disabled selected>Sélectionnez</option>

                                    <option disabled><h1>BURKINA-FASO</h1></option>
                                    <option value="ouagadougou">Ouagadougou</option>
                                    <option value="Bobo-dioulasso">Bobo-dioulasso</option>

                                    <option disabled><h1>MAROC</h1></option>
                                    <option value="Casablanca">Casablanca</option>
                                    <option value="Rabat">Rabat</option>
                                    <option value="Agadir">Agadir</option>
                                    <option value="Marrakech">Marrakech</option>

                                    <option disabled><h1>COTE D'IVOIRE</h1></option>
                                    <option value="Casablanca">Abidjan</option>
                                    <option value="Rabat">Yamoussokro</option>

                                    <option disabled><h1>FRANCE</h1></option>
                                    <option value="Paris">Paris</option>
                                    <option value="Nice">Nice</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Quartier</label>
                                <input type="text" placeholder="Entrez votre quartier" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Un mot pour la commande</label>
                            <textarea  cols="30" rows="4" class="form-control" placeholder="Entrez un message..."></textarea>
                        </div>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-6 col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                            <tr class="small text-uppercase">
                              <th scope="col">Produits</th>
                              <th scope="col" width="120">Quantité</th>
                              <th scope="col" width="120">Prix</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ item.product.image.url }}" class="img-sm"></div>
                                            <figcaption class="info">
                                                <p><a href="{% url 'store:product-details' slug=item.product.slug%}" class="title text-dark">{{ item.product.name }}</a></p>
                                                <p class="text-muted small">
                                                    {% for variation in item.variations.all %}
                                                        <strong>{{ variation.category | capfirst }}</strong>: {{ variation.value |capfirst }}<br>
                                                    {% endfor %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="text-center mt-3">
                                            <p>{{ item.quantity }} </p>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <div class="price-wrap mt-3">
                                            <var class="price">${{ item.sub_total|intcomma }}</var>
                                            <small class="text-muted"> ${{ item.product.promotion_price|intcomma }} l'unité</small>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="./place-order.html" class="btn btn-primary btn-block"> Paiement </a>
                        <a href="{% url 'store:index' %}" class="btn btn-light btn-block">Continuer le shopping</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

{% endblock %}
