{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="section-intro padding-y-sm">
        <div class="container">
            {% include 'includes/messages.html' %}
            <div class="intro-banner-wrap">
                <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
            </div>
        </div>
    </section>

    <section class="section-name padding-y-sm">
        <div class="container">

            <header class="section-heading">
                <a href="{% url 'store:index' %}" class="btn btn-outline-primary float-right">Voir tout</a>
                <h3 class="section-title">Les produits populaires</h3>
            </header>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        <div class="card card-product-grid">
                            <a href="{% url 'store:product-details' slug=product.slug %}" class="img-wrap"> <img src="{{ product.image.url }}"> </a>
                            <figcaption class="info-wrap">
                                <a href="{% url 'store:product-details' slug=product.slug %}" class="title text-center mb-2">{{ product.name }}</a>
                                <div class="d-flex justify-content-between mb-0">
                                    <div>
                                        {% if product.promotion_price == product.price %}
                                            <div class="price mt-1">${{ product.price }}</div>
                                        {% else %}
                                            <span class="price">${{ product.promotion_price }}</span>
                                            <del class="price-old">${{ product.price }}</del>
                                        {% endif %}
                                    </div>
                                    <span class="rating_stars mb-4 d-block">
                                        <i class="{% if product.review_average == 0.5 %}fas fa-star-half-alt{% elif product.review_average < 1%}far fa-star{% elif product.review_average > 0.5 %}fas fa-star{% endif %}"></i>
                                        <i class="{% if product.review_average == 1.5 %}fas fa-star-half-alt{% elif product.review_average < 2%}far fa-star{% elif product.review_average  > 1.5 %}fas fa-star{% endif %}"></i>
                                        <i class="{% if product.review_average == 2.5 %}fas fa-star-half-alt{% elif product.review_average < 3%}far fa-star{% elif product.review_average > 2.5 %}fas fa-star{% endif %}"></i>
                                        <i class="{% if product.review_average == 3.5 %}fas fa-star-half-alt{% elif product.review_average < 4%}far fa-star{% elif product.review_average > 3.5 %}fas fa-star{% endif %}"></i>
                                        <i class="{% if product.review_average == 4.5 %}fas fa-star-half-alt{% elif product.review_average < 5%}far fa-star{% elif product.review_average > 4.5 %}fas fa-star{% endif %}"></i>
                                    </span>
                                </div>
                                <a href="{% url 'store:product-details' slug=product.slug %}" class="mt-1 btn btn-block btn-primary">Voir les détails</a>
                            </figcaption>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}