{% extends 'base.html' %}

{% load static %}

{% block content %}
        <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-intro padding-y-sm">
    <div class="container">

    <div class="intro-banner-wrap">
        <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
    </div>

    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->

    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
        <div class="container">

            <header class="section-heading">
                <a href="{% url 'store:index' %}" class="btn btn-outline-primary float-right">Voir tout</a>
                <h3 class="section-title">Les produits populaires</h3>
            </header> <!-- sect-heading -->


            <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        <div class="card card-product-grid">
                            <a href="{% url 'store:product-details' slug=product.slug %}" class="img-wrap"> <img src="{{ product.image.url }}"> </a>
                            <figcaption class="info-wrap">
                                <a href="{% url 'store:product-details' slug=product.slug %}" class="title">{{ product.name }}</a>
                                {% if product.promotion_price == product.price %}
                                    <div class="price mt-1">${{ product.price }}</div>
                                {% else %}
                                    <span class="price">${{ product.promotion_price }}</span>
                                    <del class="price-old">${{ product.price }}</del>
                                {% endif %}
                                <a href="{% url 'store:product-details' slug=product.slug %}" class="mt-4 btn btn-block btn-primary">Voir les détails</a>
                            </figcaption>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- ========================= SECTION  END// ========================= -->

{% endblock %}